$mainColor: #444;
$lineChartColor: orange;
$lineChartStrokeWidth: 1px;
$tickVertHorizOpacity: .2;

.chart-container {
	height: 500px;
	width: 800px;

	/*
		Possible chart states:

		line-chart
		area-chart
		bar-chart
		pie-chart

	*/

	/* 'line-chart' state */
	&.line-chart {
		.axis path,
		.axis line {
		  fill: none;
		  stroke: $mainColor;
		  shape-rendering: crispEdges;
		}

		.xAxisTitle,
		.yAxisTitle {
			fill: $mainColor;
		}

		.line {
		  fill: none;
		  // stroke: $lineChartColor;
		  stroke-width: $lineChartStrokeWidth;
		}

		.tick {
			fill: $mainColor;

			line {
				opacity: $tickVertHorizOpacity;
				stroke: $mainColor;
			}
		}
	}
}
