<div>
	<h3>This area will be used to plot a chart using angular and d3. Yaaay!</h3>
	<br>
	<div chart-visualizer 	chart-selector="my-chart"
							chart-selector-type="#"
							chart-data-source="data"
							chart-x-axis-css-class="x axis"
							chart-y-axis-css-class="y axis"
							chart-X-axis-title="chartXAxisTitle"
							chart-Y-axis-title="chartYAxisTitle"
							chart-X-axis-title-css-class="xAxisTitle"
							chart-Y-axis-title-css-class="yAxisTitle"
							chart-show-x-axis-title="true"
							chart-show-y-axis-title="true"
							chart-type="line-chart"
							chart-x-property="'timestamp'"
							chart-y-property="'visits'"
							chart-rotate-y-axis-tick-with-degree="-65"
							chart-margins="chartMargins"
							chart-horiz-grid="true"
							chart-vert-grid="true"
							chart-show-tooltips="true">
	</div>

	<select class="chart-types" ng-options="t.dataType for t in types" ng-model="type"></select>
</div>
